body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;

  display: flex;              
  justify-content: center;    
  align-items: center;        
  height: 100vh; 
}


.app-container {
  width: 600px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


.nav-buttons button {
  margin-right: 10px;
  padding: 8px 14px;
  border: none;
  background: #0077ff;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.nav-buttons button:hover {
  background: #005ec7;
}


table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: center;
  background: #fff;
}

th {
  background: #0077ff;
  color: #fff;
}

tbody tr:nth-child(even) {
  background: #eef5ff;
}


input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

label {
  font-weight: bold;
}


.action-btn {
  background: #ff3b3b;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.action-btn:hover {
  background: #d22d2d;
}


form button {
  padding: 8px 14px;
  margin-right: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.save-btn {
  background: #2ecc71;
  color: white;
}

.cancel-btn {
  background: #7f8c8d;
  color: white;
}

.save-btn:hover {
  background: #25a65a;
}

.cancel-btn:hover {
  background: #656e70;
}
